body {
   background-image: url(wave-haikei.svg);
   background-size: auto;
   margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5rem 4rem;
}

h1 {
    color: whitesmoke;
    margin: 0;
}

#input {
    padding: 0.5rem 4rem 0.5rem 0.2rem
}

#input:hover {
    border-color: #5197ff;
}

#btn {
    padding: 0.5rem 1rem;
}

#btn:hover {
    background-color: #5197ff;
    color:aliceblue;
    border-color: cornflowerblue;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    margin: 2px 0 2px 0;
    background-color: black;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    border-radius: 8px;
}

.list-item input:checked ~ span {
    text-decoration: line-through;
}

.list {
    color: #5197ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}